USE [master]
GO
/****** Object:  Database [OptStore]    Script Date: 24.03.2026 21:35:07 ******/
CREATE DATABASE [OptStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OptStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\OptStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OptStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\OptStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OptStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OptStore]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 24.03.2026 21:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NameTovar] [nvarchar](50) NOT NULL,
	[PriceUnit] [decimal](10, 2) NOT NULL,
	[DateStart] [date] NOT NULL,
	[NumberPart] [nvarchar](20) NOT NULL,
	[SizePart] [int] NOT NULL,
	[NameFirm] [nvarchar](50) NULL,
	[SizeRentPart] [int] NULL,
	[PriceSold] [decimal](10, 2) NULL,
	[DateSold] [date] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 24.03.2026 21:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24.03.2026 21:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserSurName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPatronymic] [nvarchar](50) NOT NULL,
	[UserLogin] [nvarchar](50) NULL,
	[UserPassword] [nvarchar](50) NULL,
	[UserRole] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [NameTovar], [PriceUnit], [DateStart], [NumberPart], [SizePart], [NameFirm], [SizeRentPart], [PriceSold], [DateSold]) VALUES (1, N'Очки солнцезащитные RayBan', CAST(15000.00 AS Decimal(10, 2)), CAST(N'2025-01-10' AS Date), N'RB-2025-01', 100, N'ООО "Зрение Плюс"', 40, CAST(18000.00 AS Decimal(10, 2)), CAST(N'2025-02-15' AS Date))
INSERT [dbo].[Product] ([id], [NameTovar], [PriceUnit], [DateStart], [NumberPart], [SizePart], [NameFirm], [SizeRentPart], [PriceSold], [DateSold]) VALUES (2, N'Линзы контактные Acuvue', CAST(1200.00 AS Decimal(10, 2)), CAST(N'2025-01-15' AS Date), N'AC-2025-03', 500, N'Сеть аптек "Здоровье"', 200, CAST(1350.00 AS Decimal(10, 2)), CAST(N'2025-03-01' AS Date))
INSERT [dbo].[Product] ([id], [NameTovar], [PriceUnit], [DateStart], [NumberPart], [SizePart], [NameFirm], [SizeRentPart], [PriceSold], [DateSold]) VALUES (3, N'Оправа металлическая Gucci', CAST(25000.00 AS Decimal(10, 2)), CAST(N'2025-02-01' AS Date), N'GC-2025-02', 50, N'Бутик "Luxury Optics"', 10, CAST(28000.00 AS Decimal(10, 2)), CAST(N'2025-02-20' AS Date))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserSurName], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (1, N'Кирюшова', N'Виктория', N'Алексеевна', N'vika', N'12345', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  StoredProcedure [dbo].[ChangeFirm]    Script Date: 24.03.2026 21:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeFirm]
@Id int,
@Company nvarchar(100) = null,
@text nvarchar(max) OUTPUT
as
begin
set nocount on;
if len(@Company) = 0
	set @text = 'Введите фирму-покупателя'
else begin
update Product set NameFirm = @Company
where id = @Id
set @text = 'Обновлено '+CAST(@@ROWCOUNT as nvarchar(max))+' строк'
 end
end
GO
/****** Object:  StoredProcedure [dbo].[SpisokDate]    Script Date: 24.03.2026 21:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpisokDate]
@dates date
as
BEGIN	

SET NOCOUNT ON;

SELECT * FROM Product
WHERE DateStart>@dates
END
GO
/****** Object:  StoredProcedure [dbo].[SpisokSizePart]    Script Date: 24.03.2026 21:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpisokSizePart]
@size1 int
as
BEGIN	
SET NOCOUNT ON;
SELECT * FROM Product
WHERE SizePart>@size1
ORDER BY DateStart
END
GO
USE [master]
GO
